* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  font-family: Arial, sans-serif;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #1e293b;
  padding: 40px;
  border-radius: 20px;
  width: 400px;
}

.card h1 {
  color: white;
  text-align: center;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 14px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

button {
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #38bdf8;
  color: white;
  font-size: 16px;
  cursor: pointer;
}